<div id="error" style="{{ styleResult }}" class="modal {{ showResult }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Notification</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>{{ result }}</p>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-1">
                        <a href="/" class="btn btn-default cancelButton" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>