<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ERROR</title>
    <link rel="stylesheet" href="/assets/css/tailwind.output.css">
</head>
<body class="h-screen overflow-hidden items-center justify-center flex m-8">
<p>CHECK CONNECTION TO THE DATABASE</p>
</body>
</html>
