<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Car Showroom</title>
    <link rel="stylesheet" href="/assets/css/tailwind.output.css">
</head>
<body class="items-center justify-center ml-8 mr-8 mt-2">
<div class="">
    <h1 class="text-3xl text-center tracking-widest font-semibold text-center">Cars Showroom</h1>
</div>
<div class="grid grid-cols-2 gap-4">
    <div class="grid">
        {% include('soldCarsTable.html.twig') %}
        {% include('unsoldCarsTable.html.twig') %}
    </div>
    <div class="grid grid-rows-2">
        <div class="grid grid-cols-2 gap-4 pt-10">
            {% include('statisticsTable.html.twig')
                with {'title': 'The Average Price on Cars Sold for All Time', 'content': averageForAllTime} %}
            {% include('statisticsTable.html.twig')
                with {'title': 'The Average Price on the Cars Sold Today', 'content': averageToday} %}
        </div>
        {% include('statisticsTable.html.twig')
            with {'title': 'The List of Cars Currently on Sale', 'content': unsoldCarsModels} %}
    </div>
</div>
</div>
</body>
</html>
