<div>
    <h2 class="text-2xl font-semibold tracking-wide">Cars Sold Last Year</h2>
</div>
<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-3 overflow-x-auto">
    <div class="table-area">
        <table>
            <thead>
            <tr>
                <th class="table-item table-title">Date</th>
                <th class="table-item table-title">Number of cars sold</th>
            </tr>
            </thead>
            <tbody>
            {% for cars in carsSoldLastYear %}
                <tr>
                    <td class="table-item table-cars-content">
                        <div class="ml-3">
                            <p class="text-item">{{ cars.sold_date }}</p>
                        </div>
                    </td>
                    <td class="table-item table-cars-content">
                        <div class="ml-3">
                            <p class="text-item">{{ cars.cars_count }}</p>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>