<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 overflow-x-auto">
    <div class="table-area">
        <table>
            <thead>
            <tr>
                <th class="table-item table-title">{{ title }}</th>
            </tr>
            </thead>
            <tbody>
            {% if content is iterable %}
                {% for car in content %}
                    <tr>
                        <td class="table-item table-statistics-content">
                            <p class="text-item">{{ car.model }}</p>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td class="table-item table-statistics-content">
                        <p class="text-item">{{ content }}</p>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
