<div id="error" class="modal error {{ showResult }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Notification</h4>
                    <a href="/" class="close" data-dismiss="modal">&times;</a>
                </div>
                <div class="modal-body">
                    <h5>{{ result }}</h5>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-1">
                        <a href="/" class="btn btn-default cancelButton" data-dismiss="modal">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>