AddDefaultCharset utf-8

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !/src/assts/css/styles.css$

RewriteRule ^(.*)$ index.php [L,QSA]

RedirectMatch 403 favicon.ico